<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Share Pics - Como Frikr, pero con otro nombre.</title>
</head>
<body>
    <h1>Share your pics</h1>
    <p>Es Frikr, pero con otro nombre.</p>

    {% if photos_list|length > 0 %}
        <h2>Últimas Pics publicadas</h2>
        {% for photo in photos_list %}
            <img src="{{ photo.url }}" alt="{{ photo.name }}" title="{{ photo.name }}" height="200">
        {% endfor %}
    {% else %}
        <p>¡Comparte la primera foto!</p>
    {% endif %}
</body>
</html>